.card {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 650px;
  font-family: Arial, sans-serif;
}

.card h2 {
  margin-bottom: 12px;
  color: #333;
}

.card p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 14px;
  color: #555;
}

.card span {
  font-weight: bold;
  color: #444;
}

.card .positive {
  color: #27ae60;
}

th{
    width: 80px;
    text-align: left;
}

tr{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

td{
    width: 80px;
}

.nameItem{
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}